<ion-view view-title="Menu" align-title="left" ng-init="init()" cache-view="false">
    <ion-header-bar class="bar-stable bar-assertive">
        <button class="button button-icon icon ion-chevron-left" ng-click="irAtras()"></button>
    </ion-header-bar>
    <ion-content ">
		<div class="container ">
			<div class="cell-row cell-row-1 ">
				<div class="cell-1 " ng-click="irPendientes() ">
					<div>
						<div><i class="ion-clock "></i></div>
						<div class="titulo-menu1">Pendientes</div>
					</div>
				</div>
				<div class="cell-3 " ng-click="irAsignados() ">
					<div>
						<div><i class="ion-clipboard "></i></div>
						<div class="titulo-menu1">Asignados</div>
					</div>
				</div>
			</div>
			<div class="cell-row cell-row-2 ">
				<div class="cell-2 " ng-click="historialServicios() "> 
					<div>
						<div><i class="ion-ios-bookmarks-outline "></i></div>
						<div class="titulo-menu ">Historial de Servicios</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
